<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PHP To Do List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/img/favicon.png">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsive.css">

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
</head>

<body>

    <!--Header Paert-->
    <div class="container header">
        <div class="row">
            <div class="col-md-12">
                <a href="/"><h1 class="header_text text-center">My To Do List</h1></a>
            </div>
        </div>
    </div>

    
    <!-- <p class='text-center bg-danger'>Something Wrong. Please try again<p> -->


    <!--Inserting Form-->
    <div class="container text-center input_data">
        <div class="row">
            <form action="{{ url_for('index') }}" method="POST" class="form-inline">
                <input class="form-control" type="text" name="todo" placeholder="To do task...">
                <button type="submit" value="submit" class="btn btn-primary form-control">Save</button>
            </form>
        </div>
    </div>


    <!--Display Data-->
    <div class="container display_data">
        <div class="row">
            <table class="table table-striped">
                
                <tr>
                    <td>No</td>
                    <td>Task</td>
                    <td>Update</td>
                    <td>Delete</td>
                </tr>

                {% for row in rows %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{row["task"]}}</td>
                    <td><a href="{{ url_for('update',id=row['id']) }}">Update</a></td>
                    <td><a href="{{ url_for('delete',id=row['id']) }}">Delete</a></td>
                </tr>
                
                {% endfor %}

            </table>
        </div>
    </div>

    <script src="../static/js/jquery-1.12.0.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>